html {

box-sizing: border-box;
height: 100%;

}

*::before,*::after {

box-sizing: intherit;
padding: 0;
margin: 0;

}

body {


display:block;
   
}

.topnav {
background: black;
border-top: 2px solid black;
border-bottom: 2px solid red;
left: 0;
top: 0;
z-index: 999;
width: 100%;
height: 5%;
position: fixed;

}

.login {

width: 60%;
height: 100%;
float: left;
display: block;
color: white;

}
.login [type=text], [type="password"] {

border: 2px solid red;

}

.information {

width: 40%;
height: 100%;
float: right;
display:block;


}

.information a {

font-size: x-large;
font-style: italic;
padding: 18px 25px;
text-decoration: none;
text-align: center;
margin: auto;

}

.information a:hover {

background-color: white;

}


.main {
background: gray;
left: 0;
width: 100%;
border: 10px solid black;
display:block;
margin-top: 50px;

}

.slide {

width: 70%;
height: 40%;
margin: auto;
background-size: 100% 100%;
-webkit-animation-name: sliding;
-webkit-animation-duration: 4s;
animation-name: sliding;
animation-duration: 4s;
animation-delay: 3s;
animation-iteration-count: infinite;

}

@-webkit-keyframes sliding {

from {background-image: url('first.jpg'); background-size: 100% 100%} 
to {background-image: url('second.jpg'); background-size: 100% 100%}

}


@keyframes sliding {

from {background-image: url('/img/first.jpg'); background-size: 100% 100%} 
to {background-image: url('/img/second.jpg'); background-size: 100% 100%}

}

.blocks {

width: 70%;
height: 50%;
background: gray;
margin: auto;


}

.blocks2 {

width: 70%;
height: 100%;
margin: auto;
background-color: white;
display: block;
}

.content {

width: 100%;
height: 50%;

}










