html {

    box-sizing: border-box;

}

* {

    padding: 0;
    margin: 0;

}

body {
    overflow: auto;
    max-width: 100%;
    max-height: 100%;
}



.topnav {
    z-index: 999;
    background: black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    left: 0 !important;
    right: 0px;
    top: 0 !important;
    width: 100%;
    height: 5%;
    position: fixed !important;
    display: block;
    object-fit: cover;
    overflow: auto;
    overflow-y: hidden;
    overflow-x: hidden;
}



.login {

    width: 60%;
    height: 100%;
    float: left;
    color: white;
    margin: auto;

}

.login [type=text],
[type="password"] {

    border: 2px solid black;

}

.information {

    width: -40%;
    height: 100%;
    float: right;
    margin: auto;

}

.information a {

    font-size: 1.275vw;
    font-style: italic;
    padding: 18px 25px;
    text-decoration: none;
    text-align: center;
    margin: auto;
    text-align: center;
    color: white;

}

.information a:hover {

    background-color: white;
    color: black
}

.info {

    width: auto;
    height: 100%;
    float: left;
    margin: auto;
    display: block;
    margin-top: 4px;
}

.info a {

    font-size: 2.5vh;
    color: white;
    padding: 7px 24px;
    text-decoration: none;
}

.info a:hover {

    color: red;
    background-color: white;
    transition: 2s;
    -webkit-transition: 2s;
}

.info a:not(:hover) {
    transition: 2s;
    -webkit-transition: 2s;

}

.search {

width: auto;
height: 100%;
float: right;
margin-top: 10px;

}


.main {
    width: 100%;
    height: inherit;
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
    display: block;
    margin-top: 50px;
    margin: 0 auto;
    overflow: auto;

}

.slide {
    background-image: url('../img/ancient.jpg');
    width: 80%;
    height: 60%;
    margin: auto;
    background-size: 100% 100%;
    border: 3px solid black;
    -webkit-animation-name: sliding;
    -webkit-animation-duration: 5s;
    animation-name: sliding;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.menu-under-slide {

    width: 80%;
    height: 4%;
    margin: auto;
    background-color: black;
    border: 2px solid black;
    overflow: auto;
    overflow-y: scroll;
}



@-webkit-keyframes sliding {

    from {
        background-image: url('../img/ancient.jpg');
    
    }

    to {
        background-image: url('../img/background.png');
      
    }


}


@keyframes sliding {
    from {
        background-image: url('../img/ancient.jpg');
       
    }

    to {
        background-image: url('../img/background.png');
        
    }


}

.ld {

    float: left;
    width: 50%;
    height: 100%;
    color: white;
    display: block;
}





.blocks2 {

    width: 80%;
    height: auto;
    background-color: white;
    margin: auto;
    display: block;
    border: 2px solid black;
    align-items: center;
    justify-content: center;

}

.footer {
    width: 100%;
    height: 40%;
    overflow: auto;
    background-color: rgb(9, 12, 49);
    overflow: auto;
    overflow-y: hidden;
    
}

.footer h1 {

text-align: center;
font-size: 3vw;
color: red;
}

.contact {
    width: 50%;
    height: 80%;
    margin-top: 35px;
    float: right;
}

.content {

    width: 100%;
    height: 30%;
    margin: auto;
    overflow: auto;
    overflow-y: hidden;
overflow-x: hidden;
    display: block;


}

.pic-left {
    float: left;
    width: 30%;
    height: 100%;
    float: left;
    background-size: 100% 100%;
    border-right: 6px dotted yellow;
    object-fit: cover;
}

.pic-left img {

    margin-top: 12px;
    margin-left: 5%;
    box-shadow: 2px 2px 2px black;
    border-radius: 10px;
    width: 90%;
    height: 13vmax;

}

.pic-left img:hover {
    -webkit-transition: 1.5s;
    transition: 1.5s;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

}


.pic-left img:not(:hover) {
    -webkit-transition: 1.5s;
    transition: 1.5s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

}

.pic-right {
    float: right;
    width: 30%;
    height: 100%;
    background-size: 100% 100%;
    border-left: 6px dotted red;
    display: block;
    object-fit: cover;

}

.pic-right img {
    margin-top: 12px;
    margin-left: 5%;
    box-shadow: 2px 2px 2px 2px black;
    border-radius: 10px;
    width: 90%;
    height: 13.5vmax;
}

.pic-right img:hover {
    -webkit-transition: 1.5s;
    transition: 1.5s;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

}

.pic-right img:not(:hover) {
    -webkit-transition: 1.5s;
    transition: 1.5s;
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.text-left {
    float: left;
    width: 65%;
    height: 100%;
    margin: auto;
    text-align: center;
    text-shadow: 4px 4px 4px black;
    overflow: auto;
    display: block;
}

.text-left h1 {
    width: auto;
    font-size: 2.25vw;
    color: black;
    text-align: center;
    margin: auto;
    text-shadow: 1px 2px gray;

}

.text-left span {
    font-family: 'Kanit-Light';
    font-size: 1.25vw;
    color: white;
}

.text-right {
    float: left;

    width: 65%;
    height: 100%;
    margin: auto;
    text-shadow: 4px 4px 4px black;
margin-left: 10px;
    overflow: auto;
    display: block;

}


.text-right h1 {
    width: auto;
    font-size: 2.25vw;
    text-align: center;
    margin: auto;
    color: black;
    text-shadow: 1px 2px lightgray;


}

.text-right span {
    font-family: 'Kanit Light';
    font-size: 1.25vw;
    color: white;
}